<p id="notice"><%= notice %></p>

<h1>Listing Officials</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Service years</th>
      <th>Work phone</th>
      <th>Cell phone</th>
      <th>Home phone</th>
      <th>Email</th>
      <th>Active</th>
      <th>Official</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @officials.each do |official| %>
      <tr>
        <td><%= official.first_name %></td>
        <td><%= official.last_name %></td>
        <td><%= official.service_years %></td>
        <td><%= official.work_phone %></td>
        <td><%= official.cell_phone %></td>
        <td><%= official.home_phone %></td>
        <td><%= official.email %></td>
        <td><%= official.active %></td>
        <td><%= official.official_id %></td>
        <td><%= link_to 'Show', official %></td>
        <td><%= link_to 'Edit', edit_official_path(official) %></td>
        <td><%= link_to 'Destroy', official, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Official', new_official_path %>
