<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school.phone %>
</p>

<p>
  <strong>Ad first name:</strong>
  <%= @school.AD_first_name %>
</p>

<p>
  <strong>Ad last name:</strong>
  <%= @school.AD_last_name %>
</p>

<p>
  <strong>Ad phone:</strong>
  <%= @school.AD_phone %>
</p>

<p>
  <strong>Ad cell:</strong>
  <%= @school.AD_cell %>
</p>

<p>
  <strong>Ad extension:</strong>
  <%= @school.AD_extension %>
</p>

<p>
  <strong>Ad email:</strong>
  <%= @school.AD_email %>
</p>

<p>
  <strong>Coach first name:</strong>
  <%= @school.coach_first_name %>
</p>

<p>
  <strong>Coach last name:</strong>
  <%= @school.coach_last_name %>
</p>

<p>
  <strong>Coach phone:</strong>
  <%= @school.coach_phone %>
</p>

<p>
  <strong>Coach cell:</strong>
  <%= @school.coach_cell %>
</p>

<p>
  <strong>Coach extension:</strong>
  <%= @school.coach_extension %>
</p>

<p>
  <strong>Coach email:</strong>
  <%= @school.coach_email %>
</p>

<p>
  <strong>Dues paid:</strong>
  <%= @school.dues_paid %>
</p>

<p>
  <strong>Fees paid:</strong>
  <%= @school.fees_paid %>
</p>

<p>
  <strong>Active:</strong>
  <%= @school.active %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
